.invitation_type_three_main{
    width: 100%;
}
.invitation_type_three_header_img{
    object-fit: cover;
    margin: auto;
    display: flex;
}

.invitation__type_three_carousel{
    height: 900px;
    width: 900px;
    display: flex;
    margin: auto;
}
.invitation__type_img_1{
   // height: 900px;
   // width: 900px;
    object-fit: cover;
}