//INVITATION PAGE
.invitatin__description{
font-size: 30px;
}
.flower__item_img{
    height: 250px;
    width: 85%;
}

.infotmation_content_item_img{
    width: 200px;
    height: 160px;
}

.footer_img{
    width: 500px;
    height: 200px;
}
.containerStyle__google__map{
    width: 800px;
}