.invitatin__title {
  font-size: 50px;
}
.containerStyle__google__map {
  width: 100%;
}

.invitatin__description {
  font-size: 16px;
}

.flower__item_img {
  height: 200px;
  width: 80%;
}
.infotmation_content_item_img {
  width: 130px;
  height: 110px;
}
.footer_img {
  width: 400px;
}

.invitation__img_1_item,
.invitation__img_2_item {
  width: 130px;
  height: 230px;
  padding: 12px;
}

.invitation_img_1,
.invitation_img_2 {
  width: 120px;
  height: 230px;
}

.event__time {
  .information__title {
    font-size: 20px;
  }
  .infotmation_content_item_img {
    width: 100px;
    height: 98px;
  }
}

.hurt__img {
  width: 90px;
  height: 90px;
}

.line__content{
  width: 100%;
}
.description_img_1{
  width: 100%;
}

.secont__image{
  margin: 25px 0px 0px 25px !important;
}



.invitatin__date__title{
  font-size: 30px;
}

.invitation_type_three_img_content_title{
  font-size: 35px;
}