.containerStyle__google__map {
  width: 500px;
}
.invitatin__description {
  font-size: 23px;
}
.information__title {
  margin-left: 30px;
}
.infotmation_content_item_img{
    width: 180px;
    height: 150px;
}

.invitation__img_1_item, .invitation__img_2_item{
    width: 150px;
    height: 250px;
    padding: 20px;
}

.invitation_img_1,.invitation_img_2{
    width: 150px;
    height: 250px;
}
.description_img_1{
  width: 500px;
}
.invitatin_two__description{
  font-size: 18px;
}

.header_img_1{
  width: 100%;
}

.invitation_type_three_main{
  width: 100%;
}

.invitation__four__main{
  width: 100%;
}